<!DOCTYPE html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <link rel="canonical" href="{{ meta.canonical }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1">

    {{> gothamist/inline-article-css}}

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title }}</title>

    <meta name="description" content="{{ meta.description }}">
    <link rel="icon" href="/gothamist/favicon.png" />

    {{#each meta.headerScripts as |script|}}
      {{{script}}}
    {{/each}}
  </head>
  <body class="c-body" id="amp-body">

    {{> gothamist/side-menu}}

    <div class="o-container" id="amp-page-top">
      <header class="c-main-header js-this c-main-header--stationary">
        <div class="c-main-header__ad-unit">
          {{> gothamist/leaderboard}}
        </div>
        <div class="c-main-header__inner js-stop-prop">
          <div class="c-main-header__left u-align-items--center">
            <div class="c-menu-toggle">
              <button class="o-menu-toggle" on="tap:amp-body.toggleClass(class='amp-sidebar--is-open'),sidebar.toggle">
                <span class="is-vishidden">Menu</span>
                <span class="o-menu-toggle__line"></span>
              </button>
            </div>
            <div class="c-main-header__branding">
              <a href="">
                {{> svgs/gothamist}}
              </a>
            </div>
          </div>
          <nav class="c-primary-nav c-primary-nav--top" role="navigation" aria-label="Primary navigation">
            <ul>
              <li class="c-primary-nav__item"><a href="#" class="c-primary-nav__link ">News</a></li>
              <li class="c-primary-nav__item"><a href="#" class="c-primary-nav__link ">Arts & Entertainment</a></li>
              <li class="c-primary-nav__item"><a href="#" class="c-primary-nav__link ">Food</a></li>
              <li class="c-primary-nav__item"><a href="#" class="c-primary-nav__link ">Popular</a></li>
            </ul>
          </nav>
          <div class="c-main-header__right js-this">
            <a href="" class="o-button c-main-header__donate o-button--sm">Donate</a>
            <a href="/search" class="c-search-toggle" id="search-toggle">
              <span class="c-search-toggle__icon o-icon o-icon--search u-icon--xs">
                {{> svgs/search-icon}}
              </span>
            </a>
          </div>
          <div class="c-content-overlay"></div>
        </div>
      </header>

      <main class="c-main">
        <div class="u-section-spacing l-container l-wrap">
          <article class="c-article l-container u-spacing--double u-trigger-floating-header">

            {{{ header }}}

            {{{ body }}}

            <div class="l-container--content u-section-spacing">
              <footer class="c-article__footer u-section-spacing">
                <div class="c-article__tags">
                  <div class="o-tags" id="amp-article-tags">
                    {{#each tags as |tag|}}
                      <a class="o-tag" href="{{tag.url}}">{{tag.name}}</a>
                    {{/each}}
                  </div>
                </div>
                <div class="u-section-spacing">
                  <div class="c-article__contact">
                    <div class="c-contact-tout o-rte-text u-reversed-out">
                      <p><strong>Do you know the scoop?</strong> &nbsp; <a href="">Comment</a> below or <a href="">Send us a Tip</a></p>
                    </div>
                  </div>
                  <a href="{{meta.canonical}}#comments" class="o-button o-button--c-quaternary u-full-width">View Comments</a>
                  <div class="c-article__donate">
                    <div class="c-donate-tout ">
                      <div class="c-donate-tout__inner">
                        <div class="c-donate-tout__graphic">
                          {{> svgs/finger}}
                        </div>
                        <p>Gothamist is non-profit local news. We rely on reader support. We need YOU so we can keep telling New York stories.</p>
                        <a href="" class="o-button ">Donate Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
            <div class="l-container l-container--14col">
              <section class="c-block-group c-block-group--offset o-section">
                <div class="c-block-group__col1 u-spacing--and-half">
                  <h2 class="o-section__heading o-bg-text-accent">Recent Stories</h2>
                  <div class="c-block-list ">
                    <ul class="u-spacing--and-half">
                      {{#each related}}
                        <li>
                          {{>
                            gothamist/article-block
                            article=.
                            horizontal=true
                          }}
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
                <div class="c-block-group__col2 u-spacing--and-half">
                  <h2 class="o-section__heading o-bg-text-accent">Featured Story</h2>
                  {{#if featured}}
                    {{>
                      gothamist/article-block
                      article=featured
                      showDek=true
                    }}
                  {{/if}}
                </div>
              </section>
            </div>
          </article>
        </div>
      </main>

      <a href="#amp-page-top" class="o-to-top u-font--secondary-style u-font--xs u-color--black">
        <span class="o-icon o-icon--up-arrow u-icon--m">
          {{> svgs/arrow}}
        </span>
        <strong>Back to Top</strong>
      </a>
      <footer class="c-main-footer">
        <div class="l-container l-wrap u-spacing--triple">
          <div class="c-main-footer__inner">
            <div class="c-main-footer__col1 u-spacing--triple">
              <div class="c-main-footer__branding">
                <div class="c-main-footer__logo">
                  <a href="">
                    {{> svgs/gothamist-stacked}}
                  </a>
                </div>
                <div class="c-main-footer__utility">
                  <a href="" class="c-main-footer__send-story u-font--secondary-style u-font--xs"><strong>Send Us a Story Idea</strong></a>
                  <div class="c-main-footer__social">
                    <div class="c-share-tools ">
                      <span class="c-share-tools__label u-font--secondary-style u-font--xs u-color--white">Follow Us</span>
                      <div class="c-share-tools__group">
                        <a href="" class="c-share-tools__link o-icon">
                          {{> svgs/facebook}}
                        </a>
                        <a href="" class="c-share-tools__link o-icon">
                          {{> svgs/twitter}}
                        </a>
                        <a href="" class="c-share-tools__link o-icon">
                          {{> svgs/reddit}}
                        </a>
                        <a href="" class="c-share-tools__link o-icon">
                          {{> svgs/email}}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-main-footer__slogan">
                <p>Gothamist is a website about New York City news, arts and events, and food, brought to you by New York Public Radio.</p>
              </div>
              <div class="c-main-footer__nav">
                <nav class="c-secondary-nav" role="navigation" aria-label="Secondary navigation">
                  <ul class="c-secondary-nav__list">
                    <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="#">Advertising</a></li>
                    <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="#">Contact Us</a></li>
                    <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="#">Newsletter</a></li>
                    <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="#">RSS Feed</a></li>
                    <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="#">Staff</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="c-main-footer__col2">
              <div class="c-main-footer__signup">
                <form method="get" target="_top" class="c-newsletter-form" action="/">
                  <div class="c-newsletter-form__graphic">
                    {{> svgs/confetti}}
                  </div>
                  <div class="c-newsletter-form__inner u-spacing">
                    <div class="c-newsletter-form__text">
                      <p>
                        <span class="c-newsletter-form__icon o-icon o-icon--newsletter-form u-icon--s">
                          {{> svgs/dashed-arrow}}
                        </span>
                        Sign up for our newsletter! Share your email address to get our top stories each day.
                      </p>
                    </div>
                    <div class="c-newsletter-form__field-group">
                      <label for="newsletter" class="is-vishidden">Newsletter signup</label>
                      <input required name="newsletter" type="email" class="c-newsletter-form__input" placeholder="your@email.com">
                      <button type="submit" class="o-button o-button--c-quaternary c-newsletter-form__button">
                        <span class="c-newsletter-form__submit-icon o-icon o-icon--newsletter-form">
                          {{> svgs/dashed-arrow}}
                        </span>
                        <span class="is-vishidden">Submit email</span>
                      </button>
                    </div>
                    <div class="c-newsletter-form__terms">
                      <label class="c-newsletter-form__terms-checkbox">
                        <input class="o-checkbox" type="checkbox" checked>
                        <p class="u-font--xs">By submitting your information, you're agreeing to receive communications from New York Public Radio in accordance with our Terms</p>
                      </label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="c-main-footer__brand-group">
            <div class="c-main-footer__nypr-logo">
              {{> svgs/nypr}}
            </div>
            <div class="c-toggle-box c-toggle-box--linkroll" id="toggle-box--footer">
              <button class="c-toggle-box__label o-text-with-icon" on="tap:toggle-box--footer.toggleClass(class='this-is-active')">
                <strong>View All Brands</strong>
                <span class="o-icon o-icon--caret u-icon--xs">
                  {{> svgs/caret}}
                </span>
              </button>
              <div class="c-toggle-box__content">
                <nav class="c-nypr-nav" role="navigation" aria-label="NYPR brands navigation">
                  <ul class="c-nypr-nav__list">
                    <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">WNYC</a></li>
                    <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">New Sounds</a></li>
                    <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">Gothamist</a></li>
                    <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">NJPR</a></li>
                    <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">WNYC Studios</a></li>
                    <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">The Greene Space</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="c-main-footer__bottom">
            <div class="c-main-footer__copyright">
              <p class="u-font--secondary-style u-font--xs u-color--white">&copy; 2019 New York Public Radio. All rights reserved.</p>
            </div>
            <div class="c-main-footer__terms-links">
              <a href="" class="u-font--secondary-style u-font--xs"><strong>Terms of Use</strong></a>
              <a href="" class="u-font--secondary-style u-font--xs"><strong>Privacy Policy</strong></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
