<div class="c-block {{iif horizontal 'c-block--horizontal'}}">
  <div class="c-block__media">
    <a href="{{article.url}}">
      <amp-img
        src="{{article.thumbnail.src}}"
        itemprop="image"
        width="150"
        height="150"
        layout="responsive"
        alt="{{article.thumbnail.alt}}"
      />
    </a>
  </div>
  <div class="c-block__object u-spacing--half">
    <div class="c-block__eyebrow">
      <a href="{{article.section.url}}" class="o-kicker">{{article.section.title}}</a>
    </div>
    <h3 class="c-block__title">
      <a class="c-block__title-link" href="{{article.url}}">
        {{article.title}}
      </a>
    </h3>
    <div class="u-spacing--quarter">
      {{#if showDek}}
        <div class="c-block__dek o-rte-text">
          <p>
            {{{article.dek}}}
          </p>
        </div>
      {{/if}}
      <div class="c-block-meta u-color--meta">
        <span class="c-block-meta__author u-font--secondary-style u-font--xs">
          {{article.author.name}}
        </span>
        <a href="{{article.url}}#comments" class="c-block-meta__comments u-font--secondary-style u-font--xs">
          <span class="o-icon o-icon--comment u-icon--xs">
            {{> svgs/comment}}
          </span>
          {{article.commentCount}}
        </a>
      </div>
    </div>
  </div>
</div>
